@font-face {
  font-family: 'Lobster';
  src: url('/static/Lobster_1.3-webfont.eot');
  src: url('/static/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/Lobster_1.3-webfont.woff') format('woff'),
	url('/static/Lobster_1.3-webfont.ttf') format('truetype'),
	url('/static/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
  font-weight: normal;
  font-style: normal;  
}
body {
  background-color: #FFFD98;
  color: gray;
  text-shadow: 1px 1px #FFFFFF;
  text-align: justify;
  line-height: 1.5em;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  border-bottom: 0;
  text-shadow: 1px 1px #FFFFFF, 
               0 0 2px #FFDD26, 
               0 0 3px #FFDD26, 
               0 0 4px #FFDD26, 
               0 0 5px #FFDD26;
}
div.main {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -45px;
}
header { 
  padding-top: 30px;
  text-align: center;
}
h1, h2 {
  color: #FFDD26;
  text-shadow: 1px 1px #FFFFFF, -1px -1px lightgray;
  text-align: center;
  font-family: Lobster, Arial, sans-serif
}
h1 {
  margin-top: 30px;
  font-size: 90px;
}
h1 a {
  border-bottom: 0;
}
h2 {
  font-size: 40px;
  margin-top: 80px;
}

.root-footer {
  height: 45px;
}
footer {
  text-align: center;
  background-color: #fffeba;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  height: 25px;
}
footer p {
  margin: 0;
}

#q{
  background-color: #fffeba;
  background-image: url("/static/search.png");
  background-repeat: no-repeat;
  background-position: 392px 5px;
  border: 2px solid #FFDD26;
  border-radius: 15px 15px 15px 15px;
  color: inherit;
  display: block;
  font-size: 1.2em;
  height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 3px 10px;
  text-shadow: inherit;
  width: 400px;
  outline: none;
}

#q.spinnerbg {
  background-position: 365px 9px;
  background-image: url("/static/spinner.gif");
}

#result ul {
  list-style-type: none;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}

#result li img {
  margin-right: 10px;
}
#result li a {
  border: none;
}

#pager {
  height:20px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}

#pager ul {
  cursor: pointer;
  -moz-box-sizing: content-box;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

#pager li {
  float: left;
  background-color: #FFFEBA;
  border: 1px solid #FFDD26;
  margin: 0 3px;
  width: 24px;
}

#pager .pager-highlight{
  background-color: #FFDD26;
}

#pager .pager-hidden {
  visibility: hidden;
}
