{% extends "layout.html" %}
{% block content %}
      <form action="/search" method="POST" id="search">
        <input type="text" name="q" id="q" autocomplete="off">
      </form>
      <div id="result"></div>
{% endblock %}
