<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PypiRSS</title>
    <meta name="description" content="A simple RSS frontend for Pypi" />
    <meta name="author" content="Bruno Carlin" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <!--<link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />-->
    <link rel="stylesheet" href="/static/pypirss.css" />
    <script src="/static/modernizr.js"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27133411-2']);
      _gaq.push(['_trackPageview']);

    </script>
  </head>
  <body>
    <div class="main">
      <header>
        <h1><a href="/">PypiRSS</a></h1>
        <img src="/static/banner2.png">
        <!-- http://fr.wikipedia.org/wiki/Fichier:Generic_Feed-icon.svg-->
      </header>
      <!--<nav>
          <a href="/">Home</a>
          <a href="/contact">About</a>
      </nav>-->
      {% block content %}{% endblock %}
      <div class="root-footer"></div>
    </div>
    <footer>
      <p>
        PypiRSS v{{version}} -
        <a href="/about">About</a> -
        <a href="mailto:self@aerdhyl.eu">Contact</a> -
        Released under MIT license
      </p>
    </footer>
    <script type="text/javascript" src="/static/right.js"></script>
    <script type="text/javascript" src="/static/pypirss.js"></script>
    <script type="text/javascript">
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </body>
</html>
